### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
/.idea/
/target/
/lib/openshmup-editor/target/
/lib/openshmup-engine/target/
/lib/openshmup-gamebuilder/target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Project ###
*/dependency-reduced-pom.xml
/lib/openshmup-engine/dependency-reduced-pom.xml
/lib/openshmup-engine/classdiagram1.puml
/Games/testGame/GameExecutable.jar
/lib/openshmup-gameExecutable/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/lib/openshmup-gameExecutable/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/lib/openshmup-gameExecutable/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/lib/openshmup-gameExecutable/target/classes/io/github/lmmas/GameLauncher.class
/lib/openshmup-gameExecutable/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/lib/openshmup-gameExecutable/target/maven-archiver/pom.properties
/Games/*/.jar
